.responsive-table {
  font-size: 14px !important;
  font-size: 1.4rem !important;
}

@media (min-width: 450px) {
  .responsive-table {
    font-size: 16px !important;
    font-size: 1.6rem !important;
  }
}
